/* siempre revisa el html para saber donde esta h1, img, p, etc */
/* body { (en un ejercicio se me pidio eliminar este codigo para poder centrar todos los elementos dentro de body)
    text-align: center;
  }  */
  nav, footer {
    background-color: steelblue;
    padding: 10px;
    text-align: center;
    color: white;
  }
  a { /*fijate que esto es el home en html*/
    color: white;
    margin: 80px;
    font-size: 1.5em;
  }
  h1 {
    color: steelblue;
    text-align: center; /*agregado al eliminar body*/
  }
  img {
    width: 800px; 
    border: 4px solid steelblue;
    width: 80% ;
    display:block; /* esto es porque img no es un block element*/
    margin: 0 auto;
  }
  p {
    padding: 10px; /*no quieres que el dibujo toque los bordes, puedes deja un pequeño espacio alrededor del dibujo usando este*/
    width: 80%;  /* width es el tamaño de la hoja de papel del dibujo que haces*/
}
  footer {
    background-color: steelblue;
    color: white;
    text-align: center;
    width: 100%;
  }
.main-para {
    font-size: 2em;
    line-height: 1.5em;
}
#active {
    background-color: white;
    color: steelblue;
}
.title { /*asi es como "church of jesus christ" se vera, alineado debajo y en blanco*/
    background-color: white;
    color: steelblue;
}
/* * {   (esto solo se utiliza para poner bordes o crear cuadros visibles en cada block-level elements
        es como un wireframe para ver donde esta todo ubicado. es este caso esta hablando de nav y h1)
    border: 2px solid blue;
}*/

 /* nav, footer { agregados porque son block level element)
    text-align: center;
} */
main p { /* p ya es un block element, asi que no se le agrega display:block*/
    width: 80%;
    margin: 50px auto; /* margin es el top and botton en este caso del p. el 50px auto es para quedar un poco separado del top y button*/
    text-align: center;
}
footer p {
    font-size: 20px;
    margin: 10px auto;
}
a:hover { /*esto cambia el color del link en el menu*/
    background-color: white;
    color: steelblue;
}